.headerBlock {
    height: 80px;
    background-color: #B94629;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerContainer{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}