@import "../../../common/styles/sass/variables";

.title {
  margin-bottom: 35px;
  position: relative;

  .titleText {
    font-family: $textStyle;
    color: $textColor;
    margin: 0;
    position: relative;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1.2;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 60px;
    background: $primaryColor;
    height: 1px;
  }

  &::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: -7px;
    left: 56px;
    right: 0;
    background: $primaryColor;
  }
}
