.skillsBlock {
    min-height: 100vh;
    background-color: #a37f05;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background-color: #B94629;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}