.mainBlock {
    height: 100vh;
    background-color: #1371c7;
}

.text {
    width: 300px;
    background-color: #5da3a1;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #5da3a1;
}
