.projectContainer {
    width: 300px;
    background-color: mediumspringgreen;
    display: flex;
    flex-direction: column;
}

.photo {
    width: 100%;
    height: 200px;
    background-color: #5da3a1;
    /*background-image: url("");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    background-color: #f1f1f1;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: black;
    color: white;
}
.button:active{
    background-color: red;
}

.information {
    display: flex;
    flex-direction: column;
    margin:5px 10px 5px 10px ;
    background: #0b0b13;
    right: 20px;
    text-align: center;
}

.projectName {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    line-height: 1.7;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 4px;
}

.description {
    font-family: 'Rubik', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    font-size: 15px;
    font-weight: 300;
}
