/*.projectContainer {*/
/*    width: 300px;*/
/*    background-color: mediumspringgreen;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.photo {*/
/*    width: 100%;*/
/*    height: 200px;*/
/*    background-color: #5da3a1;*/
/*    !*background-image: url("");*!*/
/*    !*background-size: cover;*!*/
/*    !*background-position: center;*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.information {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin:5px 10px 5px 10px ;*/
/*    background: #0b0b13;*/
/*    right: 20px;*/
/*    text-align: center;*/
/*}*/

/*.projectName {*/
/*    color: #fff;*/
/*    font-family: 'Rubik', sans-serif;*/
/*    line-height: 1.7;*/
/*    font-size: 22px;*/
/*    font-weight: 300;*/
/*    text-align: center;*/
/*    margin: 0 0 4px;*/
/*}*/

/*.description {*/
/*    font-family: 'Rubik', sans-serif;*/
/*    color: rgba(255, 255, 255, 0.6);*/
/*    line-height: 1.7;*/
/*    font-size: 15px;*/
/*    font-weight: 300;*/
/*}*/
.projectContainer {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.futureProjectBox {
    /*padding: 40px;*/
    /*overflow: hidden;*/
    /*background: #0b0b13;*/
    /*-moz-transition: ease background 0.35s;*/
    /*-o-transition: ease background 0.35s;*/
    /*-webkit-transition: ease background 0.35s;*/
    /*transition: ease background 0.35s;*/
    /*display: flex;*/
    /*align-items: flex-start;*/
}

.futureProjectBox:hover {
    background: #2fbf71;
}

.photo {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo::before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}
.button {
    background-color: #eeeef5;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

/*.button:hover {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/
/*.button:active{*/
/*    background-color: red;*/
/*}*/

.information {

}

.projectName {
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    font-family: 'Rubik', sans-serif;
}

.description {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Rubik', sans-serif;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

@media (min-width: 755px) {
    .projectContainer {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
