.footerBlock {
    height: 40vh;
    background-color: lightblue;
}

.footerContainer {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #B94629;
}

.links {
    border: 1px solid;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.span {
    background-color: #B94629;
}