@import "../common/styles/sass/variables";

.portfoliosBlock {
  min-height: 100vh;
  background-color: $backgroundColor;

  .portfoliosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    margin: 0 auto;

    .portfolios {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (min-width: 755px) {
        justify-content: space-between;
      }
    }
  }
}
