.portfoliosBlock {
  min-height: 100vh;
  background-color: #10101a;
}

.portfoliosContainer {
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.portfolios {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 755px) {
  .portfolios {
    justify-content: space-between;
  }
}